server:
  port: 9505

spring:
  application:
    # 应用名称
    name: share-stastics
  profiles:
    # 环境配置
    active: dev
  main:
    allow-bean-definition-overriding: true #当遇到同样名字的时候，是否允许覆盖注册
  cloud:
    nacos:
      discovery:
        # 服务注册地址
        server-addr: 192.168.110.124:8848
        namespace:  a1642bd2-6014-4acd-b2f9-8bcac627bf68
      config:
        # 配置中心地址
        server-addr: 192.168.110.124:8848
        namespace:  a1642bd2-6014-4acd-b2f9-8bcac627bf68
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: deepseek-r1:1.5b
          temperature: 0.7
